@import url('https://fonts.googleapis.com/css2?family=Yatra+One&family=Yesteryear&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logo-name {
  color: rgb(255, 255, 255);
   font-family: "Yatra One", system-ui;
  font-size: 4rem;
  margin: 1rem;
  margin-top: 2rem;
  text-shadow: #171717;
}


.NAVBAR{
  background-color: rgb(36, 36, 36);
}


/* hero  */


.container {
  display: flex;
  justify-content: space-between; /* Content aur image ke beech mein gap */
  align-items: center; /* Center vertically */
  padding: 20px; /* Padding for some space around */
}

.hero-content {
  flex: 1; /* Content ko left side mein space dene ke liye */
  max-width: 500px; /* Max width for content */
}

.hero-img {
  flex: 1; /* Image ko right side mein space dene ke liye */
  display: flex;
  justify-content: center; /* Center image horizontally */
}

.hero-img img {
  max-width: 100%; /* Responsive image */
  height: auto; /* Maintain aspect ratio */
}


.hero{
  background-color
}